In [1]:
# Data Science Project
# Predict the salary
# Data collected from Glassdoor France

In [2]:
#!pip3 install seaborn
#!pip3 install numpy
#!pip3 install matplotlib
#!pip3 install pandas

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [4]:
#

In [5]:
# Load the DataFrame 
df = pd.read_csv('data_.csv')

In [6]:
# Visualizae the first 2 points
df.head(2)

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating
0,0,Publicis Sapient\n3.7,Data Scientist - Senior Manager (H/F),Paris,Company Description\n\nAs a digital business t...,€39K - €47K (Employer est.),10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1990,Unknown / Non-Applicable,3.7
1,1,TotalEnergies\n3.9,Data Scientist IA débutant F/H - Prédiction de...,Pau,"Systèmes d'Information, Recherche Innovation&D...",€39K - €47K (Employer est.),10000+ Employees,Company - Public,"Energy, Mining & Utilities",Energy & Utilities,1924,$25 to $100 million (USD),3.9

In [7]:
# Visualizae the last 2 points
df.tail(2)

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating
268,268,Peroptyx,Analyste de données H/F,Paris,Vous recherchez un horaire de travail flexible...,€45K - €55K (Employer est.),1 to 50 Employees,Company - Private,Information Technology,Internet & Web Services,2018,Unknown / Non-Applicable,-1.0
269,269,Atmosphères\n3.3,Data Analyst H/F,Bois-d'Arcy,Atmosphères est l'une des agences marketing te...,€45K - €55K (Employer est.),51 to 200 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2002,$5 to $25 million (USD),3.3

In [8]:
# check table columns [features presented in the dataframe]
df.columns

Index(['Unnamed: 0', 'company', 'job title', 'location', 'job description',
       'salary estimate', 'company_size', 'company_type', 'company_sector',
       'company_industry', 'company_founded', 'company_revenue', 'rating'],
      dtype='object')

In [9]:
# Data cleanning
# Remove 'Unnamed'
df = df.drop(['Unnamed: 0'],axis=1)

In [10]:
df.head(2)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating
0,Publicis Sapient\n3.7,Data Scientist - Senior Manager (H/F),Paris,Company Description\n\nAs a digital business t...,€39K - €47K (Employer est.),10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1990,Unknown / Non-Applicable,3.7
1,TotalEnergies\n3.9,Data Scientist IA débutant F/H - Prédiction de...,Pau,"Systèmes d'Information, Recherche Innovation&D...",€39K - €47K (Employer est.),10000+ Employees,Company - Public,"Energy, Mining & Utilities",Energy & Utilities,1924,$25 to $100 million (USD),3.9

In [11]:
##### Task to be performed [ clean the data]
#Salary parsing
# Company name
# City
# job description [python, jave, ...]
# Company Size
# Company Type
# Job Title [Senior|Junior]
# Company revenue

In [12]:
# salary parsing | remove where salary is '-1' means no salary data
df = df[df['salary estimate'] != '-1']

In [13]:
df.tail(2)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating
268,Peroptyx,Analyste de données H/F,Paris,Vous recherchez un horaire de travail flexible...,€45K - €55K (Employer est.),1 to 50 Employees,Company - Private,Information Technology,Internet & Web Services,2018,Unknown / Non-Applicable,-1.0
269,Atmosphères\n3.3,Data Analyst H/F,Bois-d'Arcy,Atmosphères est l'une des agences marketing te...,€45K - €55K (Employer est.),51 to 200 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2002,$5 to $25 million (USD),3.3

In [14]:
# remove in salary '(Employer est.)'
df['salary'] = df['salary estimate'].apply(lambda x: x.split('(')[0])

In [15]:
df.columns

Index(['company', 'job title', 'location', 'job description',
       'salary estimate', 'company_size', 'company_type', 'company_sector',
       'company_industry', 'company_founded', 'company_revenue', 'rating',
       'salary'],
      dtype='object')

In [16]:
df.tail(2)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating,salary
268,Peroptyx,Analyste de données H/F,Paris,Vous recherchez un horaire de travail flexible...,€45K - €55K (Employer est.),1 to 50 Employees,Company - Private,Information Technology,Internet & Web Services,2018,Unknown / Non-Applicable,-1.0,€45K - €55K
269,Atmosphères\n3.3,Data Analyst H/F,Bois-d'Arcy,Atmosphères est l'une des agences marketing te...,€45K - €55K (Employer est.),51 to 200 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2002,$5 to $25 million (USD),3.3,€45K - €55K

In [17]:
# salary
df['salary'] = df['salary'].apply(lambda x:x.replace('K','').replace('€',''))

In [18]:
df.tail(2)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating,salary
268,Peroptyx,Analyste de données H/F,Paris,Vous recherchez un horaire de travail flexible...,€45K - €55K (Employer est.),1 to 50 Employees,Company - Private,Information Technology,Internet & Web Services,2018,Unknown / Non-Applicable,-1.0,45 - 55
269,Atmosphères\n3.3,Data Analyst H/F,Bois-d'Arcy,Atmosphères est l'une des agences marketing te...,€45K - €55K (Employer est.),51 to 200 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2002,$5 to $25 million (USD),3.3,45 - 55

In [19]:
df['salary'].head(3)

0    39 - 47
1    39 - 47
2    39 - 47
Name: salary, dtype: object

In [20]:
df['salary'].tail(3)

267    45 - 55
268    45 - 55
269    45 - 55
Name: salary, dtype: object

In [21]:
df['min_salary'] = df['salary'].apply(lambda x:x.split('-')[0]).astype('int32')
df['max_salary'] = df['salary'].apply(lambda x:x.split('-')[1]).astype('int32')

In [22]:
df['min_salary'].head(2)

0    39
1    39
Name: min_salary, dtype: int32

In [23]:
df['max_salary'].head(2)

0    47
1    47
Name: max_salary, dtype: int32

In [24]:
df.tail(2)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating,salary,min_salary,max_salary
268,Peroptyx,Analyste de données H/F,Paris,Vous recherchez un horaire de travail flexible...,€45K - €55K (Employer est.),1 to 50 Employees,Company - Private,Information Technology,Internet & Web Services,2018,Unknown / Non-Applicable,-1.0,45 - 55,45,55
269,Atmosphères\n3.3,Data Analyst H/F,Bois-d'Arcy,Atmosphères est l'une des agences marketing te...,€45K - €55K (Employer est.),51 to 200 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2002,$5 to $25 million (USD),3.3,45 - 55,45,55

In [25]:
# job title
df['job title'].head(100)

0                 Data Scientist - Senior Manager (H/F)
1     Data Scientist IA débutant F/H - Prédiction de...
2                                    Data Analyst (H/F)
3                                    Data scientist F/H
4                                      Data Analyst H/F
                            ...
95                                       Data Scientist
96                               CDD – CRM Data Analyst
97                                  Data Analyst Export
98                            Data Analyst Programmatic
99                                 Product Data Analyst
Name: job title, Length: 100, dtype: object

In [26]:
df['title'] = df['job title'].apply(lambda x: 'Senior' if 'Senior' in x else 'junior')

In [27]:
df['title'].head(3)

0    Senior
1    junior
2    junior
Name: title, dtype: object

In [28]:
df['title'].tail(3)

267    junior
268    junior
269    junior
Name: title, dtype: object

In [29]:
# Age
df['age'] = df['company_founded'].apply(lambda x: x if x <1 else 2023 -x)

In [30]:
df.tail(3)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,rating,salary,min_salary,max_salary,title,age
267,MAIF\n3.9,Data Scientist - Computer Vision - NIORT ou PA...,Paris,Intitulé du poste\nData Scientist - Computer V...,€45K - €55K (Employer est.),5001 to 10000 Employees,Company - Private,Insurance,Insurance Carriers,1934,$1 to $5 billion (USD),3.9,45 - 55,45,55,junior,89
268,Peroptyx,Analyste de données H/F,Paris,Vous recherchez un horaire de travail flexible...,€45K - €55K (Employer est.),1 to 50 Employees,Company - Private,Information Technology,Internet & Web Services,2018,Unknown / Non-Applicable,-1.0,45 - 55,45,55,junior,5
269,Atmosphères\n3.3,Data Analyst H/F,Bois-d'Arcy,Atmosphères est l'une des agences marketing te...,€45K - €55K (Employer est.),51 to 200 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2002,$5 to $25 million (USD),3.3,45 - 55,45,55,junior,21

In [31]:
# job description #python, java, spark, phd, master
#df['job description'].tail(20)
df['python'] = df['job description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['spark'] = df['job description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['Machine Learning'] = df['job description'].apply(lambda x: 1 if 'Machine Learning' in x.lower() else 0)
df['phd'] = df['job description'].apply(lambda x: 1 if 'phd' in x.lower() else 0)
df['master'] = df['job description'].apply(lambda x: 1 if 'master' in x.lower() else 0)

In [32]:
# companies
df['company'] = df['company'].apply(lambda x: x.split('\n')[0])

In [33]:
df['company'].unique()

array(['Publicis Sapient', 'TotalEnergies', 'GROUPE LIMAGRAIN', 'Matmut',
       'Inetum', 'Damart', 'Onera', 'innovation e-Santé Sud ieSS',
       'CS GROUP', 'LIMAGRAIN EUROPE SAS', 'Atmosphères',
       'TOYOTA MATERIAL HANDLING FRANCE', 'CGI FINANCE', 'L2C',
       'Peroptyx', 'Teleperformance Portugal', 'Procter & Gamble',
       "Caisse d'Epargne Ile de France", 'FED Finance', 'Seyos',
       'Française des Jeux', 'MAIF', 'ALEIA', 'Saint Gobain', 'FIDUCIAL',
       'MJV Technology & Innovation', 'Cognira', 'HURRYMAN',
       'Le Groupe La Poste', 'Numberly', 'FED IT', 'Sightengine', 'MGEN',
       'INFORMATIS', 'Novencia', 'Shift Technology', 'CS Group', 'Atos',
       'Rubix', 'SumUp', 'Artefact', 'Licorne Society', 'Clarins',
       'Nature et découvertes', 'McKinsey & Company', 'Société Générale',
       'Breega', 'Capgemini', 'Insitoo', 'Natixis', 'EY', 'APRIL', 'AXA',
       '1Dsolutions', 'Thales', 'Canal Plus', 'AUCHAN RETAIL SERVICES',
       'mediametrie', 'Mirakl - French', 'Akkodis',
       'Moët Hennessy Wines & Spirits', 'Nexton Consulting FR',
       'Banque Populaire de Val de France', 'ENERCON', 'EssenceMediacom',
       'Framatome', 'Talent Solutions', 'Visuary', 'John Cockerill',
       'Cafeyn', 'Pennylane', 'Generali France', 'Air France-KLM',
       'NEO SOFT', 'E.Leclerc', 'Groupe Rocher', 'Upfluence', 'GRDF',
       'CARSO-LSEHL', 'Nielsen', 'Schneider Electric', 'digiRocks',
       'MBR Partners', 'Stellantis',
       'INRAE - Institut national de recherche pour l’agriculture, l’alimentation et l’environnement',
       'AUSY'], dtype=object)

In [34]:
# company type
df['company_type'].unique()

array(['Company - Public', 'Company - Private', 'Unknown', '-1',
       'Self-employed', 'Subsidiary or Business Segment',
       'Private Practice / Firm'], dtype=object)

In [35]:
#df['company type'] = df['company_type'].apply(lambda x: x.split('-')[1])

In [36]:
#df.tail(2)

In [37]:
df['avg_salary'] = (df['max_salary']+df['min_salary'])/2

In [38]:
df.tail(2)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,min_salary,max_salary,title,age,python,spark,Machine Learning,phd,master,avg_salary
268,Peroptyx,Analyste de données H/F,Paris,Vous recherchez un horaire de travail flexible...,€45K - €55K (Employer est.),1 to 50 Employees,Company - Private,Information Technology,Internet & Web Services,2018,...,45,55,junior,5,0,0,0,0,0,50.0
269,Atmosphères,Data Analyst H/F,Bois-d'Arcy,Atmosphères est l'une des agences marketing te...,€45K - €55K (Employer est.),51 to 200 Employees,Company - Private,Human Resources & Staffing,HR Consulting,2002,...,45,55,junior,21,0,0,0,0,0,50.0

In [39]:
# Save data

In [40]:
df = df[['avg_salary','company','rating','job title','location','job description','company_type','company_sector','company_industry','age','title','python','spark','Machine Learning','phd','master','min_salary','max_salary']]

In [41]:
df.head(3)

,avg_salary,company,rating,job title,location,job description,company_type,company_sector,company_industry,age,title,python,spark,Machine Learning,phd,master,min_salary,max_salary
0,43.0,Publicis Sapient,3.7,Data Scientist - Senior Manager (H/F),Paris,Company Description\n\nAs a digital business t...,Company - Public,Management & Consulting,Business Consulting,33,Senior,0,0,0,0,0,39,47
1,43.0,TotalEnergies,3.9,Data Scientist IA débutant F/H - Prédiction de...,Pau,"Systèmes d'Information, Recherche Innovation&D...",Company - Public,"Energy, Mining & Utilities",Energy & Utilities,99,junior,0,0,0,0,0,39,47
2,43.0,GROUPE LIMAGRAIN,4.1,Data Analyst (H/F),Saint-Beauzire,Famille de métier\nFONCTIONS SUPPORT - SI\nTyp...,Company - Private,Agriculture,Crop Production,58,junior,0,0,0,0,0,39,47

In [42]:
# save the data as csv file
df.to_csv('Data_clean_glassdoor.csv')