In [1]:
# Linear Model

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import cross_val_score

In [4]:
#

In [5]:
# Load data frame
df = pd.read_csv('Data_pos_analysis.csv')

In [6]:
# relevant columns 
df.columns

Index(['Unnamed: 0', 'avg_salary', 'company', 'job title', 'location',
       'company_type', 'company_sector', 'age', 'max_salary', 'title'],
      dtype='object')

In [7]:
df.drop(['Unnamed: 0'],axis=1, inplace=True)

In [8]:
# get dummy data due to categorical variables [one hot-encode]
df = pd.get_dummies(df)

In [9]:
df.head(3)

,avg_salary,age,max_salary,company_1Dsolutions,company_ALEIA,company_APRIL,company_AUCHAN RETAIL SERVICES,company_AUSY,company_AXA,company_Air France-KLM,...,company_sector_Insurance,company_sector_Management & Consulting,company_sector_Manufacturing,company_sector_Media & Communication,company_sector_Pharmaceutical & Biotechnology,company_sector_Retail & Wholesale,company_sector_Telecommunications,company_sector_Transportation & Logistics,title_Senior,title_junior
0,43.0,33,47,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,43.0,99,47,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,43.0,58,47,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
#df = df[['avg_salary', 'company','job title', 'location', 'company_type', 'company_sector', 'age', 'max_salary','title', ]]

In [11]:
# train and label
X = df.drop(['avg_salary'],axis=1)
y = df['avg_salary'].values # create array instead of series

In [12]:
#pd.to_numeric to convert whatever strings your data might contain to numeric values. 
#If they're incompatible with conversion, they'll be reduced to NaNs.
#X = X.apply(pd.to_numeric, errors='coerce')
#y = y.apply(pd.to_numeric, errors='coerce')

In [13]:
# split train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# Linear Regrassion model
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [15]:
np.mean(cross_val_score(lm,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-10129009966.838104

In [16]:
#

In [17]:
# lasso regression 
lm_l = Lasso(alpha=.13) # normalization term alpha| increase the amount of data
lm_l.fit(X_train,y_train)
np.mean(cross_val_score(lm_l,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-1.830514394936727

In [18]:
# random forest 
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(max_depth=2, random_state=0)

model = rf.fit(X, y)
#np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 3))

In [19]:
# prediction on test data
print(model.predict(X_test))

[67.5        50.88458586 50.88458586 52.2521795  50.88458586 52.2521795
 50.88458586 67.5        52.2521795  50.88458586 50.88458586 50.88458586
 50.88458586 50.88458586 52.2521795  50.88458586 50.88458586 52.2521795
 50.88458586 50.88458586 50.88458586 50.88458586 67.5        67.5
 50.88458586 44.39240636 44.39240636 50.88458586 50.88458586 44.39240636
 50.88458586 50.88458586 52.2521795  50.88458586 50.88458586 44.39240636
 52.2521795  50.88458586 50.88458586 50.88458586 44.39240636 52.2521795
 50.88458586 44.39240636 50.88458586 50.88458586 50.88458586 50.88458586
 50.88458586 50.88458586 44.39240636 52.2521795  50.88458586 50.88458586]

In [20]:
# label
print(y_test)

[67.5 50.  50.  55.  50.  55.  50.  67.5 55.  50.  50.  50.  50.  50.
 55.  50.  50.  55.  50.  50.  50.  50.  67.5 67.5 50.  43.  43.  50.
 50.  43.  50.  50.  55.  50.  50.  43.  55.  50.  50.  50.  43.  55.
 50.  43.  50.  50.  50.  50.  50.  50.  43.  55.  50.  50. ]

In [21]:
# Score prediction on test
rf.score(X_test, y_test)

0.9368516884175717

In [22]:
#